.table {
  width: 100%;
  &__header {
    text-align: center;
  }

  &__cell {
    padding: 1rem 0;
    &:first-child {
      width: 10%;
    }
    &:nth-child(2) {
      width: 2%;
      text-align: center;
    }
    &:nth-child(3) {
      width: 10%;
      text-align: center;
    }
    &:nth-child(5){
      width: 3%;
      text-align: center;
    }
    &:nth-child(6) {
      width: 3%;
      text-align: right;
    }
  }
  &__input {
   width: 100%;
  }
}


